# Nodejs 
node_modules

# Environment
.env

# Tokens
credential.json

# yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# npm debug log files
npm-debug.log*

# IDEs
.vscode